<%= render partial: 'shared/notice_success' %>

<h1 class="text-primary">Hirings</h1>

<table class="table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Skill</th>
      <th>Year</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @hirings.each do |hiring| %>
      <tr>
        <td><%= hiring.name %></td>
        <td><%= hiring.city.name %></td>
        <td><%= hiring.skill.name %></td>
        <td><%= hiring.year %></td>
        <td><%= link_to image_tag('edit.png'), edit_hiring_path(hiring) %></td>
        <td><%= link_to image_tag('destroy.png'), hiring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @hirings, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<%= link_to 'New Hiring', new_hiring_path, class: 'btn btn-primary' %>
<%= link_to 'Import from CSV', hirings_upload_new_path, class: 'btn btn-primary' %>
