<h1>New Hiring - Upload</h1>

<%= form_with url: :hirings_upload, local: true do |form| %>
  <div class="form-group">
    <%= form.label 'Select CSV file for a bulk insert' %>
    <%= form.file_field :csv_file, direct_upload: true, accept: 'text/csv', class: 'form-control-file' %>
    <small id="emailHelp" class="form-text text-muted">It must have header and data with the following format: name,city,area,skill,year</small>
  </div>

  <%= form.submit 'Upload', class: 'btn btn-success' %>
  <%= link_to 'Cancel', skills_path, class: 'btn btn-danger' %>
<% end %>

<%= link_to 'Back', hirings_path %>
